/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
ul { list-style-type: none;}
a { 
  text-decoration: none;
  color: #000;
}


.pie-chart {
  position: relative;
  display:inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 0.3s;
}
span.center{
  background: #fff;
  display : block;
  position: absolute;
  top:50%; left:50%;
  width:200px; height:200px;
  border-radius: 50%;
  text-align:center; line-height: 200px;
  font-size:30px;
   transform: translate(-50%, -50%);
}
.skill div{
  float: left;
  /* width: 150px; */
  outline: 1px solid red;
}

/* 팝업창 */
/*팝업창*/
#popup {
  display: none; /*숨기기*/
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

#popmenu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 200px;
  text-align: center;
  background: #fff;
}

#popmenu p {
  margin-top: 80px;
}

.exit {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%,0);
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #007AAE;
  cursor: pointer;
}